


.App {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.geolocation_error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.hidden_error {
    opacity: 0;
}

.view_error {
    opacity: 1;
}




#inputCity {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
}



#inputCity:-webkit-autofill,
#inputCity:-webkit-autofill:hover,
#inputCity:-webkit-autofill:focus,
#inputCity:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

#inputCity:focus {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

#inputCity::placeholder {
    color: black;
}

button {
    background-color: var(--bg_card);
    color: rgba(19, 18, 18, 0.799);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.2rem;
}


.weather_info {
    margin-top: 0.5rem;
    list-style-type: none;
    text-align: start;
    padding: 0;
}

.weather_info>li {
    font-weight: 900;
    font-size: 20px;
}

li>span {

    font-weight: 100;
    text-align: right;
}

.weather_footer {
    margin-top: 20px;
}

.temp {
    font-size: 1.5rem;
}


