:root {
    --bg_card: rgba(184, 202, 210, 0.633);
    --height_cards: 550px;
    --width_cards: 280px;
}


.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.geolocation_error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.hidden_error {
    opacity: 0;
}

.view_error {
    opacity: 1;
}

.loading_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading_svg {
    overflow: hidden;
    width: 50%;
    max-width: 200px;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}


#inputCity {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
}



#inputCity:-webkit-autofill,
#inputCity:-webkit-autofill:hover,
#inputCity:-webkit-autofill:focus,
#inputCity:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

#inputCity:focus {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

#inputCity::placeholder {
    color: black;
}

button {
    background-color: var(--bg_card);
    color: rgba(19, 18, 18, 0.799);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.2rem;
}

.weather_card {
    margin-top: 10px;
    padding: 1rem;
    min-width: var(--width_cards);
max-width: 400px;
    min-height: var(--height_cards);
    border-radius: 10px;
    color: black;
    background-color: var(--bg_card);
    text-align: center;
    box-shadow: 10px 7px 10px 0px rgba(0, 0, 0, 0.59);

}

.weather_card-title {
    height: 100px;
    font-size: 2rem;
}

.imageClima {
    animation: rotate 4s linear infinite;

}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}



.weather_info {
    margin-top: 0.5rem;
    list-style-type: none;
    text-align: start;
    padding: 0;

}

.weather_info>li {
    font-weight: 900;
    font-size: 20px;
}

li>span {

    font-weight: 100;
    text-align: right;
}

.weather_footer {
    margin-top: 20px;
}

.temp {
    font-size: 1.5rem;
}


.city_weather-list {
    margin-top: 10px;
    padding: 1rem;
      min-width: var(--width_cards);
max-width: 400px;
    min-height: var(--height_cards);
    text-align: center;

}

.city_list {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 0;
    list-style-type: none;
}

.city_list>li>button {
    width: var(--width_cards);
    font-size: 1rem;
}